body {
    background-color: black;
    color: white;
}

#title {
    position: absolute;
    font-size: 48px;
    padding: 10px;
}

#selection {
    position: absolute;
    top: 64px;
    left: 15px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

#credits {
    position: absolute;
    bottom: 64px;
    left: 15px;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}


ul {
    list-style: none;
    padding: 5px;
}
